# Global code owners - all files

* @dbeihl @masonrecipes @brianrmason

## Docs

/docs/ @dbeihl @masonrecipes @brianrmason

## Configuration files

mkdocs.yml @dbeihl @masonrecipes @brianrmason
.github/workflows/ @dbeihl @masonrecipes @brianrmason
