name: Build and Deploy MkDocs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material pymdown-extensions
          pip install mkdocs-git-revision-date-localized-plugin
          pip install mkdocs-git-authors-plugin
      
      - name: Build documentation
        run: mkdocs build
      
      - name: Create .nojekyll
        run: touch ./site/.nojekyll
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          force_orphan: true
